*.class

# NetBeans and gradle dir
/.gradle/
/.nb-gradle/
/repos/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.nb-gradle/private/
/build/

/plugins/sockettu/.gradle/
/plugins/sockettu/repos/
/plugins/sockettu/build/
/plugins/webscan/.gradle/
/plugins/webscan/repos/
/plugins/webscan/build/
